.section {
    padding: 20px 0px;
}

.titleImage {
    background-color: yellow;
    display: block;
    text-align: center;
    border: solid 1px blue;
    min-height: 80px;
    max-height: 400px;
    min-width: 100%;
}

.personalImage {
    background-color: darkkhaki;
}

div.title {
    background-color: lightgreen;
}

h1 {
    color: red;
    text-align: center;
}

.lienPerso {
    display: block;
    background-color: crimson;
    border: solid 2px blue;
    text-align: center;
}

.fiche {
    text-align: justify;
}

.separatorImage {
    background-color: peru;
    display: block;
    text-align: center;
    border: solid 1px orangered;
    min-height: 150px;
    max-height: 600px;
    min-width: 100%;
}
