body, html {
  margin: 0;
  background-color: white;
}

a {
    text-decoration: none;
    color: black !important;
}

a:hover
{
     text-decoration:none;
     cursor:pointer;
}

*:focus {
  outline: 0 !important;
}

img, iframe {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.center {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.centerBlock {
  margin: 0 auto;
  display: block;
  align-items: center;
}

.menu {
  padding: 0;
  border: 2px black solid;
  border-radius: 5px !important;
  background-color: red;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  color: black;
}
/* BUTTON CLICK ANIMATION NEEDED ! */

#navigation {
  background-color: #ebe7ec;
  padding: 20px 10px;
  z-index: 999;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: black !important;
}

#navigation li a:hover{ border-bottom: 0px; color: #fff;}
#navigation li:first-child a{ border-left: 10px solid #3498db; }
#navigation li:nth-child(2) a{ border-left: 10px solid #ffd071; }
#navigation li:nth-child(3) a{ border-left: 10px solid #f0776c; }
#navigation li:nth-child(4) a{ border-left: 10px solid #fe2c2c; }
#navigation li:last-child a{ border-left: 10px solid #1abc9c; }

#navigation li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

#navigation li a:hover:after{ width: 100%; }
#navigation li:first-child a:after{ background: #3498db; }
#navigation li:nth-child(2) a:after{ background: #ffd071; }
#navigation li:nth-child(3) a:after{ background: #f0776c; }
#navigation li:nth-child(4) a:after{ background: #fe2c2c; }
#navigation li:last-child a:after{ background: #1abc9c; }

.navbar-brand,
.navbar-brand:hover,
.fa-project-diagram {
  color: black !important;
}

#navigation {
  position: fixed;
  top: 0;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) repeat;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader .inner {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../img/kata.gif) center no-repeat;
  background-color: #b4f4ff;
  top: 0;
  left: 0;
  z-index: 1000;
}

.section {
  padding: 50px 0;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoInsta:hover {
	background-color: #9b00aa;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoTwitter:hover {
  background-color:#007bb7;
}

.social-network a.icoFacebook:hover i, .social-network a.icoInsta:hover i, .social-network a.icoTwitter:hover i {
	color:#ffffff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #000000;
}

.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
  color: #bbbbbb;
}

.social-circle li a:hover i {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}

.my-fa-fc:before {
  content: "\f082";
}
.my-fa-in:before {
  content: "\f16d";
}
.my-fa-tw:before {
  content: "\f099";
}

.form-rounded {
  border: 1px black solid;
  border-radius: 1rem !important;
}

@media (min-width: 481px) and (max-width: 575px) {
  .form-inline .mobile-space {
    margin-top: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-inline .mobile-space {
    margin-top: 15px;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .form-inline .mobile-space {
    margin-top: 15px;
  }
}

.borderBlack {
  border: 5px solid black;
}

.footerSection {
  color: black;
}

.footerSection ul {
  margin: 0;
}

ul.footer-links {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.footer-links li {
	display: inline;
	margin: 0 5px;
}

.footer-links li a {
  -webkit-transition: color .3s, font-size .3s;
  -moz-transition: color .3s, font-size .3s;
  -o-transition: color .3s, font-size .3s;
  transition: color .3s, font-size .3s;
}

.footer-links li a:hover {
  color: red;
	font-size: 1.1rem;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  width: 100%;
}
