body, html {
    margin: 0;
    background-color: grey;
}
a {
    text-decoration: none;
    color: black !important;
}
a:hover {
    text-decoration:none;
    cursor:pointer;
}
*:focus {
    outline: 0 !important;
}
.section {
    padding-top: 70px;
}
.menu {
    padding: 0;
    border: 2px black solid;
    border-radius: 5px !important;
    background-color: red;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    color: black;
}
/* BUTTON CLICK ANIMATION NEEDED ! */
#navigation {
    background-color: #ebe7ec;
    padding: 20px 10px;
    z-index: 999;
    width: 100%;
}
#navigation li {
    padding: 0 10px;
}
#navigation li a {
    color: black !important;
}
#navigation li a:hover { border-bottom: 0px; color: #fff;}
#navigation li:first-child a { border-left: 10px solid #3498db; }
#navigation li:nth-child(2) a { border-left: 10px solid #ffd071; }
#navigation li:nth-child(3) a { border-left: 10px solid #f0776c; }
#navigation li:nth-child(4) a { border-left: 10px solid #fe2c2c; }
#navigation li:last-child a { border-left: 10px solid #1abc9c; }

#navigation li a:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}
#navigation li a:hover:after { width: 100%; }
#navigation li:first-child a:after { background: #3498db; }
#navigation li:nth-child(2) a:after { background: #ffd071; }
#navigation li:nth-child(3) a:after { background: #f0776c; }
#navigation li:nth-child(4) a:after { background: #fe2c2c; }
#navigation li:last-child a:after { background: #1abc9c; }

.navbar-brand,
.navbar-brand:hover,
.fa-project-diagram {
    color: black !important;
}
#navigation {
    position: fixed;
    top: 0;
}
h2 {
    padding-bottom: 30px;
}
.blue {
    background-color: aqua;
    border-style: solid;
    width: 100%;
    height: 200px;
}
.pic {
    background-color: aqua;
    border-style: solid;
    width: 200px;
    height: 200px;
    margin: auto auto 20px auto;
}
.my-fa-fc:before {
    content: "\f082";
}
.my-fa-tw:before {
    content: "\f099";
}
.footerSection {
    color: black;
}
.footerSection ul {
    margin: 0;
}
ul.footer-links {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.footer-links li {
    display: inline;
    margin: 0 5px;
}
.footer-links li a {
    -webkit-transition: color .3s, font-size .3s;
    -moz-transition: color .3s, font-size .3s;
    -o-transition: color .3s, font-size .3s;
    transition: color .3s, font-size .3s;
}
.footer-links li a:hover {
    color: red;
    font-size: 1.1rem;
}
.filter li {
    display: inline-block;
    padding: 5px;
}