/* à changer de nom -> */
.row {
    padding-top: 20px;
}

/* -> à changer de nom */

/* Specific to page 3 to 7 */

.brown {
    background-color: brown;
    border-style: solid;
    width: 100px;
}

.violet {
    background-color: blueviolet;
    border-style: solid;
    width: 100%;
    height: 200px;
}

.blue {
    background-color: aqua;
    border-style: solid;
    width: 100%;
    height: 200px;
}

.pic {
    background-color: aqua;
    border-style: solid;
    width: 200px;
    height: 200px;
    margin: auto auto 20px auto;
}
