@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

 .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) repeat;
    top: 0;
    left: 0;
    z-index: 1000;
} */

.loader .inner {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/kata.gif) center no-repeat;
    background-color: #b4f4ff;
    top: 0;
    left: 0;
    z-index: 1000;
}
/*
.loader {
  width: 100%;
  height: 100%;
    position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: 9999;
  background-color: black;
}
.loader .image {

    z-index: 9999;
  text-align: center;
  animation: 3s rotate infinite;
  opacity: 0;
  color: white;
  position: fixed;

}
.loader span {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}

@keyframes rotate{
  0% {
    transform: rotate(90deg);
  }
  10% {
    opacity: 0;
  }
  35% {
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg);
  }
} */
