/* Media queries */

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .fluid-p {
    margin: 0 auto;
    display: flex;
  }
  .fluid-p p {
    padding: 0.4rem 1rem;
    text-align: justify;
  }
  .fluid-p p:last-child {
    border-left: 1px solid black;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .fluid-p {
    margin: 0 auto;
    display: flex;
  }
  .fluid-p p {
    padding: 0.4rem 1rem;
    text-align: justify;
  }
  .fluid-p p:last-child {
    border-left: 1px solid black;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .fluid-p {
    margin: 0 auto;
    display: flex;
  }
  .fluid-p p {
    padding: 0.4rem 1rem;
    text-align: justify;
  }
  .fluid-p p:last-child {
    border-left: 1px solid black;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .fluid-p {
    margin: 0 auto;
    display: flex;
  }
  .fluid-p p {
    padding: 0.4rem 1rem;
    text-align: justify;
  }
  .fluid-p p:last-child {
    border-left: 1px solid black;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .fluid-p {
    margin: 0 auto;
    display: block;
    align-items: center;
  }
  .fluid-p p {
    padding: 0 1rem;
    text-align: center;
  }
  .fluid-p p:last-child {
    padding-top: 15px;
    border-top: 1px solid black;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .fluid-p {
    margin: 0 auto;
    display: block;
    align-items: center;
  }
  .fluid-p p {
    padding: 0 1rem;
    text-align: center;
  }
  .fluid-p p:last-child {
    padding-top: 15px;
    border-top: 1px solid black;
  }
}

@media (min-width: 0) and (max-width: 320px) {
  .fluid-p {
    margin: 0 auto;
    display: block;
    align-items: center;
  }
  .fluid-p p {
    text-align: center;
  }
  .fluid-p p:last-child {
    padding-top: 15px;
    border-top: 1px solid black;
  }
}

/* End Media queries */

/* Specific to page 5 */

.anchor {
  color: red !important;
  padding: 0 2px;
  -webkit-transition: font-size .3s;
  -moz-transition: font-size .3s;
  -o-transition: font-size .3s;
  transition: font-size .3s;
}

.anchor:hover {
  font-size: 1.1rem;
}

.customUL li {
  margin: 20px 0;
  list-style-type: none;
  max-width: 90%;
}

.customUL li:before {
  content: '++';
  margin-left: -20px;
  margin-right: 10px;
  -webkit-transition: all .4s 0s ease-in-out;
  transition: all .4s 0s ease-in-out;
  display: inline-block;
}

.customUL li:hover:before {
  -moz-transform: rotate(0deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(0deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(0deg);
  transform: rotate(360deg);
}
